#portfolio .col-xl-6{
margin-bottom: 50px;
}

#portfolio .col-lg-12{
margin-bottom: 50px;
}


@media (max-width:576px){
	#experience .timeline-heading h3{
		font-size: 12px;
	}
}

@media (max-width:576px){
	#experience .timeline-heading h4{
		font-size: 11px;
	}
}

@media (max-width:576px){
	#experience .timeline-panel-container p{
		font-size: 14px;
	}
}

@media (max-width:576px){
	#experience .timeline-panel-container-inverted .timeline-heading h3 p{
		font-size: 12px;
	}
}

@media (max-width:576px){
	#experience .timeline-panel-container-inverted .timeline-heading h4 p{
		font-size: 11px;
	}
}

@media (max-width:576px){
	#experience .timeline-panel-container-inverted p{
		font-size: 14px;
	}
}

/* 📱 Tablette */
@media (max-width: 1024px) {
  img.rounded-circle {
    width: 180px;
    height: 180px;
  }
}

/* 📱 Mobile */
@media (max-width: 768px) {
  img.rounded-circle {
    width: 60%;
    max-width: 220px;
    height: auto;
  }
}

/* 📱 Très petit écran */
@media (max-width: 480px) {
  img.rounded-circle {
    width: 70%;
    max-width: 200px;
  }
}

/*img.rounded-circle:hover {
  transform: scale(1.05);
  transition: 0.3s;
}*/
img.rounded-circle {
  transition: transform 0.3s ease;
}

img.rounded-circle:hover {
  transform: scale(1.05);
}